.idea
.ipynb_checkpoints
*.pyc
*.xlsx
*.csv
*.npy
.vscode
data
tmp
model
notebooks/*.xlsx
*.png
notebooks/*.csv
synonym_webservice/synonyms_module/models/*
synonym_webservice/synonyms_module/models_big/*
notebooks/Parsed_sentences/*
notebooks/big_dataset_distributed/*
notebooks/folder_with_interventions/*
src/RAKE/*
edit_webservice/env

